* {
    box-sizing: border-box;
}

body {
    background-image: url(../images/pw_pattern.png);
    margin: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    color: #777777;
}

/* navbar items*/
.navbar {
    padding: 0px;
    border-bottom: 2px solid lightgray;
}

.navbar-toggler {
    margin-right: 20px;
}

.navbar-brand {
    margin-left: 17%;
    padding: 20px;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 28px;
    text-align: center;
}

.navbar-nav {
    margin-left: 55%;
}

/* footer-all pages*/
.container-footer {
    padding-top: 35px;
    padding-bottom: 5px;
    border-top: #4aaaa5 solid 5px;
    background: #666666;
    text-align: center;
    color: rgb(211, 209, 209);
    font-size: 10px;
}

/* main content section-all pages*/
.container-main {
    top: 120px;
    margin-bottom: 100px;
    border: #dddddd solid 1px;
    padding: 20px;
    background: #ffffff;
    overflow: auto;
}

h1 {
    border-bottom: 2px solid #dddddd;
    margin-top: 0;
    padding-bottom: 20px;
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24px;
    font-weight: bold;
}

/*About You styling*/
.imgBio {
    max-width: 100%;
    height: auto;
    margin: 5px 10px 10px 0px;
}

/*portfolio page content items*/

.card {
    height: 100%;
}

.card-img-top {
    width: 100%;
    height: 150px;
}

.card-body {
    height: 50px;
    background: #4aaaa5;
}

.card-title {
    text-align: center;
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 16px;
}

.colPortfolio { 
    margin: 10px 0px 10px 0px;
}

/* form content items */

form {
    padding-top: 10px;
}

input {
    width: 100%;
    margin-top: 3px;
    margin-bottom: 10px;
    padding: 5px;
    border: rgb(226, 226, 226) solid 2px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 100px;
    margin-top: 3px;
    margin-bottom: 10px;
    padding: 5px;
    border: rgb(226, 226, 226) solid 2px;
    resize: vertical;   
}

input[type=submit] {
    width: 75px;
    margin-bottom: 50px;
    padding: 8px;
    background: #4aaaa5;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    /* to get the nav icon and header on same row on small screens */
    .navbar-brand {
        margin-left: 0%;
    }
}

@media (min-width: 576px) {
    /* to prevent the portfolio images from overlapping prior to moving to single column */
    .colPortfolio {
        max-width: 100%;
    }
}

